####################################################################
# /etc/systemd/system/gophish.service
# Description: Initialization file: service gophish {start|stop|status} 
# Config:/opt/gophish/config.json
####################################################################

[Unit]
Description=gophish
After=network.target

[Service]
Type=simple
ExecStart=/opt/gophish/gophish
Restart=always

User=gophish
Environment='STDOUT=/var/log/gophish/gophish.log'
Environment='STDERR=/var/log/gophish/gophish.log'
WorkingDirectory=/opt/gophish

[Install]
WantedBy=multi-user.target
